/* 전체 통일 */
* {
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    margin: 0px;
}
/* 공용 컴포넌트 */
.big-shadow {
    elevation: below;
    box-shadow: 1.3vh 1.3vw;
}
.small-shadow {
    elevation: below;
    box-shadow: 0.8vh 0.8vw;
}