footer {
    height: 37rem;
    background: #333333;
    padding-left: 3vw;
    padding-top: 2rem;
}
footer > * {
    color: #f2f2f2;
}
footer > ul {
    margin-top: 0.5vh;
    margin-bottom: 0.4vh;
    font-size: 3vw;
}
footer > p {
    font-size: 2vw;
    width: 65vw;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}
footer > a {
    font-size: 2vw;
}
footer > a:link, footer > a:visited {
    color: #f2f2f2;
    text-decoration: none;
}
footer > a:hover {
    color: #919191;
    text-decoration: underline;
}