/* 헤더 관련 */
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}
#header > .container {
    background-color: #fafafa;
    height: 37%;
    width: 57%;
    max-width: 450px;
    margin-left: 5vw;
    border-radius: 2vw;
    padding: 2rem;
}
#logo-box {
    display: flex;
    flex-direction: column;
}
#logo-box > span {
    font-weight: bold;
    font-size: 4vh;
}
/*#logo-box > span:nth-child(2) {*/
/*    font-weight: bold;*/
/*    font-size: 4vh;*/
/*}*/
/*#logo-box > span:nth-child(3) {*/
/*    font-weight: bold;*/
/*    font-size: 4vh;*/
/*}*/
#header > .container > p {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 3vh;
}