#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}
#header > .container {
    background-color: #fafafa;
    height: 37%;
    width: 57%;
    max-width: 450px;
    margin-left: 5vw;
    border-radius: 2vw;
    padding: 2rem;
}
#logo-box {
    display: flex;
    flex-direction: column;
}
#logo-box > span {
    font-weight: bold;
    font-size: 4vh;
}
#header > .container > p {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 3vh;
}
@media (max-width: 1000px) {
    #logo-box > span {
        font-weight: bold;
        font-size: 4vw;
    }
    #header > .container > p {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 3vw;
    }
}
@media (max-width: 500px) {
    #header > .container {
        background-color: #fafafa;
        height: 37%;
        width: 57%;
        max-width: 450px;
        margin-left: 5vw;
        border-radius: 2vw;
        max-height: 500px;
        padding: 2rem;
    }
}
