#navbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30vw;
    max-width: 330px;
    overflow: hidden;
    background-color: #333;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
}
#navbar a {
    display: block;
    color: #919191;
    text-decoration: none;
}
.active {
    color: #f2f2f2 !important;
}
.open {
    display: flex !important;
}
.sticky {
    position: fixed;
    top:0;
    right: 0;
    width: 30%;
}
.sub-menu {
    display: none;
    flex-direction: column;
}
hr.menu-split {
    border: 0px;
    background-color: white;
    height: 3px;
    width: 100%;
}
hr.sub-menu-split {
    border: 0px ;
    background-color: white;
    height: 1px;
    width: 100%;
}
#navbar > a {
    text-align: left;
    font-size: 3vh;
    font-weight: bold;
}
.sub-menu > a {
    text-align: left;
    font-size: 2vh;
    padding-left: 1vw;
}
#navbar > span {
    text-align: left;
    font-size: 3vh;
    font-weight: bold;
    color: #919191;
}
.lang-select {
    padding-top: 10px;
}
#lang {
    width: 100%;
    border: 0px;
    font-size: 3vh;
    color: #919191;
    background-color: #333333;
    padding: 0%;
}

@media (max-width: 1000px) {
    #navbar {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 65vw;
        /*max-width: 330px;*/
        overflow: hidden;
        background-color: #333;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 1vh;
    }
}